


<!DOCTYPE html>
<html>

<head>
    @*<title>Terms & Conditions</title>*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="card-header text-center">
            <h4>Terms & Conditions</h4>
        </div>
        <div class="card-body">
            <h5>Acceptance of Terms</h5>
            <hr />
            <p>
                By accessing the Website or using the Services, you affirm that you are at least 18 years old and are legally
                capable of entering into this Agreement. If you are accessing the Website or using the Services on behalf of a
                company or other legal entity, you represent and warrant that you have the authority to bind that entity to this
                Agreement.
            </p>
            <p>
                If you have any questions or concerns about these Terms and Conditions, please contact us at
                <a href="mailto:info@example.com">info@example.com</a>.
            </p>`
            <div style="margin-top:100px;">
                <input type="checkbox"><span> I accept the terms and conditions. !</span></>
                <br />
                <button type="button" class="btn btn-success">Accept & Continue</button>
                @*<button type="button" class="btn btn-danger">Cancel</button>*@
            </div>
        </div>
    </div>
</body>

</html>


